
<div class="container" id="about">
  <div>
    <h1 class="About product">Our Philosophy</h1>
    <p> Our goal is simple. Help keep toys beneath your feet.</p>
   <section class="col-sm-12 col-lg-4">
   </section>
  </div>
</div>
