<div class="container-fluid" id="faq">
   <div class="header">
    <h1><br><br>Frequently Asked Questions</h1>
   </div>

   <div id="accordion">

    <div class="card">
     <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
       <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
       Do you provide travlers insurance?
       </button>
      </h5>
     </div>
     <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
       But of course.
      </div>
     </div>
    </div>

    <div class="card">
     <div class="card-header" id="headingThree">
      <h5 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
       What's your cancelation policy?
      </button>
      </h5>
     </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
     <div class="card-body">
     <p>The cancelation policy varies depending on the type of flight purchased and airline used. Cancelations can be dealt with directly through your airline provider. </p>
    </div>
    </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingFive">
       <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
       What's your end game?
        </button>
       </h5>
      </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
     <div class="card-body">
      <p> Travel agents have industry perks. By helping you find cheap deals we develop a close relationship with partnering airlines, who provide benefits for our team. </p>
     </div>
   </div>
 </div>



 </div>
