/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.raty
 */


 * { box-sizing: border-box; }
 .container-fluid {
   padding: 0%;
 }
 .short-text {display: none;}

 body {padding: 0;}
 body {background-color: #F7FAD8;}

 img {
   border-style: ridge;
   border-radius: 10%;
   border-color: #F3F3BE;
   padding: 5px;
 }
 h1, h2, h3 {
   font-family: 'Oswald', sans-serif;
   font-weight: 900;
   // font size: 2.5em;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   color: #F3F3BE;
  }
 h4 {
   color: #6BC9E6;
   font-size: 2.3em;
   font-weight: bold;
 }
 p, li {
   font-family: 'Poppins', Arial, sans-serif;
   font-weight: 900;
   font-size: 1.5em;
   color: #0C420E;
   font-size: 1em;
 }

 .row-fluid {display: flex;}
 .navbar .left a  {float: left;}
 .navbar .right a {float: right;}
 .navbar {
   box-shadow: 0 6px 14px 6px rgba(0,0,0,0.35);
   font-family: 'Oswald', Helvetica, Arial, sans-serif;
   font-weight: 300;
   background: #FC4C7D;  /* fallback for old browsers */
   background: linear-gradient(to right, #7fbd98, #229d53);
   width: 100% !important;
   position: fixed;
   left: 0;
   top: 0;
   padding: 10px;
   z-index: 1;
 }
 .navbar .logo {
   padding: 0 !important;
   border: 10 !important;
 }
 .navbar a {
   text-transform: uppercase;
   text-decoration: none;
   font-size: 1.1em;
   color: white;
 }
 .navbar a:hover {
   transition: color 600ms;
   -webkit-transition: color 600ms;
   color: #F3F3BE;
   text-decoration: none;
 }
 .navbar .nav-pills .active {
   background-color: #B8EDDB;
   color: #F3F3BE;
 }
.nav-item {
  padding-right: 10px;
  padding-top: 10px;
}
 #search-bar {
   padding-top: 50px;
   padding-bottom: 20px;
   float: right;}
 .form-fld{ width: 300px;}

.alert {padding-top: 70px;}
h1 {
   text-align: center;
   padding-top: 100px;
 }

 .info {
   position: absolute; /* let's us move the text around and not worry about the image */
   top: 15%; /* position the text 15% away from the top */
   left: 22%;
   color: #fff;
   font-family: 'Oswald';
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing: 0.5em;
   line-height: 1.6;
   display: none;
 }

 .proj-title { font-weight:100;}


 #contact {
   padding-top: 10px;
   padding-bottom: 60px;
 }
 #contact .contactimage {
   background-image: url("../img/Zonza2.jpg");
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 15px;
   background-attachment: fixed;
   background-size: cover;
   color: white;
 }
 #contact .contactimage .row {text-align: center;}
 #contact h1 {
   text-align: center;
   padding-top: 90px;
 }
 #contact p {
   font-size: .7em;
   font-weight: 900;
   word-wrap: break-word;
   color: #F3F3BE;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 }
 #contact .row {
   display: flex;
   align-items: center;
 }

 .form-group { width: 100%;}
 .form-control { width: 100%;}

 /*Footer Section*/

 .footer-section{
   height: 160px;
   background: linear-gradient(to right, #7fbd98, #229d53);
   color: #fff;
   font-family: 'Poppins', sans-serif;
   padding: none;
 }
 .footer-title {
   font-size: 1.5rem;
   margin: 5 0;
   padding-bottom: 20px;
   padding-top: 10px;
 }
 .footer-list {
   display: inline-block;
   text-align: center;
 }
 .footer-list li {
   list-style: none;
   padding: 0 60px;
   display: inline-block;
   font-size: 1em;
 }
 .footer-list li a {
   color: #black;
   font-size: 1.8rem;
   transition: 600ms ease;
   text-decoration: none;
 }
 .footer-list li a:hover {
   color: white;
 }

 @media (max-width: 768px) {
   #work .container .img-fluid {
     margin: 0; }
   #resume .btn { float: right;}
   #video { width:100%;}
   #contact h1 { padding-top: 15px;}
   .map1 { height: 300px; }
   .footer-section .container {height: 100px;}
   .footer-list li{
     margin: none;
     padding: 0 2px;
     font-size: 0.5em;
   }
   .footer-list .copywrite {
     float: right;
     padding-top: 20px;
   }
 }

 @media (max-width: 500px) {
   .full-text { display: none; }
   .container {padding: 3%;}
   .short-text {
     display: inline-block;
     position: fixed;
     padding-left: 55px;
     font-size: 1.2em;
       }

   .navbar .center { text-align: center;}
   #work-section { padding-top: 10px;}
   #work-section h1 { padding-bottom: 10px;}
   #video { width: 100%;}
   #about h1 { padding-top: -140px;}
   #resume {display: inline-block;}
   .mb-0 { font-size: .5em;}
   #contact h1 {padding-top: 15px;}
   .footer-section .container {height: 100px;}
   .footer-list li {
    margin: none;
    padding: 0 2px;
    font-size: 0.5em;
   }
   .footer-list .copywrite {
    float: right;
    padding-top: 20px;
   }
 }
