// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.new_comment {padding: 20px 0px 20px 0px}
.productname {
    font-size: 2.0em;
    padding-top: 15px;
}
.productindex {
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .description {
    padding-top: 15px;
  }



#average-rating {padding-bottom: 50px;}

 .rated {padding: 15px;}
 h2 {padding-top: 30px;}

 img {float: left;
 padding: 20px;
}
.comment-name {float: right;
padding: 20px;
text-align: left;}
.comment-rating {float: left;}
