<p id="notice"><%= notice %></p>

<h1 class="product">Products</h1>

<!-- Product menu -->

<div class="container-fluid">
  <div class="row">
    <% if @products.length > 0 %>
     <% cache(cache_key_for_products) do %>
       <%= render @products %>
     <% end %>
   <% elsif params[:q] %>
  </div>
</div>

<%= link_to 'New Product', new_product_path %>
  <% end %>
