<footer class="container-fluid footer-section">
  <small>
    Made by <a href="https://goofy-hypatia-4ab2f0.netlify.com">Kevin Louis Dath</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", simple_pages_about_path %></li>
      <li><%= link_to "Contact", simple_pages_contact_path %></li>
      <li><a href="https://www.be-mag.com/category/news/">News</a></li>
    </ul>
  </nav>
</footer>
